body {
    background-color:#000000;
	font-family: helvetica, arial, sans-serif;
}
h4{
    font-size: xx-large;
    color: white;
    padding-top: 1em;
    padding-bottom: 0em;
}
h5{
 color: black;
font-size: xx-large;
}
h3{
    color: black;
}
p1{
    font-size: xx-large;
    color:white;
}
p2{
    color:white;
}
table
{
    border-style: outset;
    border-color: #7A0000;
   
}
#nav {

	
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
    }
a
    {
    font-size: x-large;
    text-decoration: none;
    color:white;  
    }
a:visited
    {
    text-decoration: none;
    color:white;  
    }
a:hover
    {
        text-decoration: none;
        color:black;  
    }